# .gitignore

.pytest_cache
.cache
.pytest_cache
*.egg-info
*.pyc

/build-tools/msvc/cmake_cpp_utils.bat
/doc/?/
/doc/locale/ja/LC_MESSAGES/
/docker/development/Dockerfile.build.py*
/docker/development/Dockerfile.onnx-test.py*
/examples/cpp/forward_check/*/tmp.*
/examples/cpp/mnist_collection/train_dcgan
/examples/cpp/mnist_collection/train_lenet_classifier
/examples/cpp/mnist_collection/train_resnet_classifier
/examples/cpp/mnist_collection/train_siamese
/examples/cpp/mnist_collection/train_vae
/examples/cpp/mnist_collection/train_vat
/examples/cpp/mnist_runtime/*.nnp
/examples/cpp/mnist_runtime/mnist_runtime
/examples/cpp/mnist_runtime/mnist_runtime_cuda
/examples/cpp/mnist_runtime/tmp.*
/examples/cpp/mnist_training/*.nnp
/examples/cpp/mnist_training/mnist_training
/examples/cpp/mnist_training/tmp.*
/examples/cpp/nbla_train/*.nnp
/include/nbla/functions.hpp
/output/
/python/setup.cfg
/python/setup.cfg-Debug
/python/setup.cfg-MinSizeRel
/python/setup.cfg-RelWithDebInfo
/python/setup.cfg-Release
/python/setup.cfg.in.configured
/python/src/nnabla/*.lib
/python/src/nnabla/_arithmetic_ops.cpp
/python/src/nnabla/_array.cpp
/python/src/nnabla/_computation_graph.cpp
/python/src/nnabla/_indexing.cpp
/python/src/nnabla/_init.cpp
/python/src/nnabla/_init.h
/python/src/nnabla/_nd_array.cpp
/python/src/nnabla/_variable.cpp
/python/src/nnabla/_version.py
/python/src/nnabla/backward_functions.py
/python/src/nnabla/clibtest
/python/src/nnabla/communicator.cpp
/python/src/nnabla/cpp_graph_example
/python/src/nnabla/function.cpp
/python/src/nnabla/function.pxd
/python/src/nnabla/function.pyx
/python/src/nnabla/function_bases.py
/python/src/nnabla/nbla
/python/src/nnabla/nnabla.lib
/python/src/nnabla/solver.cpp
/python/src/nnabla/solver.pxd
/python/src/nnabla/solver.pyx
/python/src/nnabla/lms.cpp
/python/src/nnabla/callback.cpp
/python/src/nnabla/utils/converter/functions.pkl
/python/src/nnabla/utils/load_function.py
/python/src/nnabla/utils/nnabla_pb2.py
/python/src/nnabla/utils/save_function.py
/python/src/nnabla/utils/dlpack.cpp
/python/src/nnabla/testing/clear_called_flag_recorder.cpp
/python/test/Test-error.series.txt
/python/test/Training-error.series.txt
/python/test/Training-loss.series.txt
/python/test/test.prototxt
/python/test/tmp.h5
/python/test/tmp.protobuf
/src/nbla/function/*.cpp
/src/nbla/functions.cpp
/src/nbla/init.cpp
/src/nbla/proto/nnabla.proto
/src/nbla/solver/*.cpp
/src/nbla/version.cpp
/src/nbla_utils/nnabla.pb.cc
/src/nbla_utils/nnabla.pb.h
/src/nbla_utils/nnp_impl_create_function.cpp
/third_party/*.zip
/third_party/hdf5-1.10.1tar.bz2
/third_party/libarchive-3.3.2tar.gz
/third_party/protobuf-3.1.0tar.gz
/third_party/zlib-1.2.11tar.gz

/build/
/build-android/
/build-doc/
/build_wheel_py*/
/python/src/nnabla/bin/
/python/src/nnabla/libnnabla.so

# Converted ReST
# doc/python/tutorial/
*.h5
tmp.*/
*.zip
