nnabla==1.37.0.dev1
Sphinx<7
sphinx-rtd-theme
mock
pillow<10.0
alabaster
commonmark
recommonmark
readthedocs-sphinx-ext
jinja2>3.1.0
sphinxcontrib-actdiag
sphinxcontrib-blockdiag
sphinxcontrib-nwdiag
sphinxcontrib-plantuml
sphinxcontrib-seqdiag
sphinxcontrib-toc
breathe
pygments
funcparserlib
tensorflow
tensorboardX
