nnabla==1.21.0
sphinx-rtd-theme
sphinxcontrib-actdiag
sphinxcontrib-blockdiag
sphinxcontrib-nwdiag
sphinxcontrib-plantuml
sphinxcontrib-seqdiag
sphinxcontrib-toc
https://nnabla.org/pkg/funcparserlib-0.3.6.tar.gz
