nnabla==1.29.0
Sphinx
sphinx-rtd-theme
sphinxcontrib-actdiag
sphinxcontrib-blockdiag
sphinxcontrib-nwdiag
sphinxcontrib-plantuml
sphinxcontrib-seqdiag
sphinxcontrib-toc
breathe
pygments
recommonmark==0.4.0
funcparserlib==1.0.0a0
tensorflow
tensorboardX
recommonmark

