nnabla==${'.'.join(version.split('.')[:3])}
Sphinx
sphinx-rtd-theme
mock
pillow
alabaster
commonmark
recommonmark
readthedocs-sphinx-ext
jinja2
sphinxcontrib-actdiag
sphinxcontrib-blockdiag
sphinxcontrib-nwdiag
sphinxcontrib-plantuml
sphinxcontrib-seqdiag
sphinxcontrib-toc
breathe
pygments
funcparserlib
tensorflow
tensorboardX

