Operator support status
=======================

Support status importing from ONNX
----------------------------------

This is a status list of [ONNX operators](https://github.com/onnx/onnx/blob/master/docs/Operators.md)
that indicates if each operator can be converted to NNP.

- OK The ONNX operator can map to a NNabla operator.
- Not test means the ONNX operator has not been verified. It might be one of the following cases:
    - The ONNX operator hasn't been checked if it can be converted to NNabla.
    - The ONNX operator has been checked if it can be converted to NNabla, but the implementation has not started.
    - The solution is not perfect/finished, for example, the operator can map to a combination of NNabla operators.
    - Hard to find a solution with existing NNabla operators.

Total 100/100

As the following table, Opset column means the maximal opset version are supported to convert to NNP.
In user's model, if there is any function opset version exceed the maximal opset(as the following table), the importer
might fail to convert NNP model due to this function.

======================================== =============== =============== =================================================
Operator                                 Opset           Status          Description
======================================== =============== =============== =================================================
Abs                                      1               OK
Add                                      1               OK              broadcast will be converted to a BroadcastTo
And                                      1               OK              broadcast will be converted to a BroadcastTo
ArgMax                                   1               OK              Operator does not exist in NNabla
ArgMin                                   1               OK              Operator does not exist in NNabla
AveragePool                              1               OK              autopad not supported. pads must have same
                                                                         value for begin and end.
BatchNormalization                       1               OK              is_test=false not supported (only inference)
Cast                                     1               OK              Operator does not exist in NNabla(No type
                                                                         information is exposed in NNP)
Ceil                                     1               OK              Should map to Ceil
Clip                                     1               OK              Converted to Identity, MaximumScalar,
                                                                         MinimumScalar, or both depending on the attribute
Concat                                   1               OK
Constant                                 1               OK              Converted to an input parameter
Conv                                     1               OK              auto_pad not supported. pads must have same value
                                                                         for begin and end.
ConvTranspose                            1               OK              Should map to Deconvolution?
DepthToSpace                             1               OK              Operator does not exist in NNabla
Div                                      1               OK              broadcast will be converted to a BroadcastTo
Dropout                                  1               OK              mask output will be removed since NNabla does
                                                                         not produce mask output.
Elu                                      1               OK
Equal                                    1               OK              broadcast will be converted to a BroadcastTo.
                                                                         Input data type will all be converted to int64
                                                                         since NNP does not have type information
Exp                                      1               OK
Flatten                                  1               OK              Operator does not exist in NNabla
Floor                                    1               OK              Should map to Floor
GRU                                      1               OK              Operator does not exist in NNabla
Gather                                   1               OK              Operator does not exist in NNabla
Gemm                                     1               OK              alpha and beta is not supported.
                                                                         Input A and B must be two dimensional,
                                                                         and input C must be one dimensional.
                                                                         transA, transB will be converted to
                                                                         a separate transpose operator
GlobalAveragePool                        1               OK
GlobalLpPool                             1               OK              Operator does not exist in NNabla
GlobalMaxPool                            1               OK              Operator does not exist in NNabla
Greater                                  1               OK              broadcast will be converted to a BroadcastTo
HardSigmoid                              1               OK              Should be able to map to
                                                                         MulScalar+AddScalar+MinimumScalar+ReLU
Hardmax                                  1               OK              Operator does not exist in NNabla
Identity                                 1               OK
InstanceNormalization                    1               OK              Operator does not exist in NNabla
LRN                                      1               OK              Converted to
                                                                         PowScalar+Tranpose+SumPooling+Transpose+MulScalar+AddScalar+PowScalar.
                                                                         Currently only odd size is allowed.
LSTM                                                     OK              Operator does not exist in NNabla
LeakyRelu                                1               OK
Less                                     1               OK              broadcast will be converted to a BroadcastTo
Log                                      1               OK
LogSoftmax                               1               OK              Converted to Exp+Sum+Log+Sub2.
                                                                         Only works on input shape like N*C*1*1
LpNormalization                          1               OK              Operator does not exist in NNabla
LpPool                                   1               OK              Operator does not exist in NNabla
MatMul                                   1               OK
Max                                      1               OK              Only input of two tensors is currently supported
MaxPool                                  1               OK              auto_pad is not supported.
                                                                         pads must have same value for begin and end.
MaxRoiPool                               1               OK              Operator does not exist in NNabla
Mean                                     1               OK              Operator does not exist in NNabla
Min                                      1               OK              Only input of two tensors is currently supported
Mul                                      1               OK              broadcast will be converted to a BroadcastTo
Neg                                      1               OK              Converted to MulScalar
Not                                      1               OK
Or                                       1               OK              broadcast will be converted to a BroadcastTo
PRelu                                    1               OK
Pad                                      1               OK              For NNP to ONNX conversion, input buffer's
                                                                         dimension is assumed to be 4D if the shape cannot be determined.
Pow                                      1               OK              broadcast will be converted to a BroadcastTo
RNN                                      1               OK              Operator does not exist in NNabla
RandomNormal                             1               OK              Should be able to map to Randn
RandomNormalLike                         1               OK              Operator does not exist in NNabla
RandomUniform                            1               OK              Should be able to map to Rand
RandomUniformLike                        1               OK              Operator does not exist in NNabla
Reciprocal                               1               OK              Converted to RDivScalar
ReduceL1                                 1               OK              Operator does not exist in NNabla
ReduceL2                                 1               OK              Operator does not exist in NNabla
ReduceLogSum                             1               OK              Operator does not exist in NNabla
ReduceLogSumExp                          1               OK              Operator does not exist in NNabla
ReduceMax                                1               OK
ReduceMean                               1               OK
ReduceMin                                1               OK
ReduceProd                               1               OK
ReduceSum                                1               OK
ReduceSumSquare                          1               OK              Operator does not exist in NNabla
Relu                                     1               OK
Reshape                                  1               OK              Not completedly supported.
Selu                                     1               OK
Sigmoid                                  1               OK
Size                                     1               OK              Operator does not exist in NNabla
Slice                                    1               OK              Operator does not exist in NNabla
Softmax                                  1               OK              Only works on input shape like N*C*1*1
Softplus                                 1               OK              Converted to Exp + AddScalar + Log
Softsign                                 1               OK              Converted to Abs + AddScalar + Div2
SpaceToDepth                             1               OK              Operator does not exist in NNabla
Split                                    1               OK              Operator does not exist in NNabla
Sqrt                                     1               OK              Operator does not exist in NNabla
Squeeze                                  1               OK              Operator does not exist in NNabla
Sub                                      1               OK              broadcast will be converted to a BroadcastTo
Sum                                      1               OK              Supporting two inputs only
Tanh                                     1               OK
Tile                                     1               OK              Operator does not exist in NNabla
TopK                                     1               OK              Operator does not exist in NNabla
Transpose                                1               OK
Unsqueeze                                1               OK              Operator does not exist in NNabla
Xor                                      1               OK              broadcast will be converted to a BroadcastTo
experimental ATen                        1               OK
experimental Affine                      1               OK
experimental ConstantFill                1               OK
experimental Crop                        1               OK
experimental FC                          1               OK
experimental GRUUnit                     1               OK
experimental GivenTensorFill             1               OK
experimental If                          1               OK
experimental ImageScaler                 1               OK
experimental Loop                        1               OK
experimental LoopIndexTensor             1               OK
experimental MeanVarianceNormalization   1               OK
experimental ParametricSoftplus          1               OK
experimental Scale                       1               OK
experimental ScaledTanh                  1               OK
experimental ThresholdedRelu             1               OK
experimental Upsample                    1               OK
======================================== =============== =============== =================================================

Support status exporting to ONNX
----------------------------------

The column of opset means current operator is mapped with which the opset specifications. For example,
Affine() is converted to 3 onnx functions, Reshape@5, Flatten@1, Gemm@6 and so on. Hence, the exporter
will generate the onnx model which require the executor at least support opset 6, when the model contains
Affine() function.

Total 60/136

Neural Network Layer
++++++++++++++++++++

Count 9/11

======================================== =============== =============== =================================================
Operator                                 Opset           Status          Description
======================================== =============== =============== =================================================
Affine                                   1               OK              Convert to Gemm + Reshape
Convolution                              1               OK              Rename to Conv
DepthwiseConvolution                     1               OK              Convert to Convolution (with group)           
Deconvolution                            1               OK              Convert to ConvTranspose and Add
DepthwiseDeconvolution                   1               NG
MaxPooling                               1               OK              Rename to MaxPool
AveragePooling                           1               OK              Rename to AveragePool
GlobalAveragePooling                     1               OK              Rename to GlobalAveragePool
SumPooling                               1               OK              Convert to Mul
Unpooling                                1               OK              Convert to Upsample
Embed                                    1               NG
======================================== =============== =============== =================================================

Neural Network Activation Functions
+++++++++++++++++++++++++++++++++++

Count 8/11

======================================== =============== =============== =================================================
Operator                                 Opset           Status          Description
======================================== =============== =============== =================================================
Sigmoid                                  1               OK
Swish                                    1               NG
Tanh                                     1               OK
ReLU                                     1               OK              Rename to Relu
LeakyReLU                                1               OK              Rename to LearkyRelu
Softmax                                  1               OK
ELU                                      1               OK              Rename to Elu
SELU                                     1               OK              Rename to Selu
CReLU                                    1               NG
CELU                                     1               NG
PReLU                                    1               OK              Rename to PRelu
======================================== =============== =================================================

Normalization
+++++++++++++

Count 1/4

======================================== =============== =============== =================================================
Operator                                 Opset           Status          Description
======================================== =============== =============== =================================================
BatchNormalization                       1               OK
MeanSubtraction                          1               NG
ClipGradByValue                          1               NG
ClipGradByNorm                           1               NG
======================================== =============== =============== =================================================

Reduction
+++++++++

Count 5/7

======================================== =============== =============== =================================================
Operator                                 Opset           Status          Description
======================================== =============== =============== =================================================
Sum                                      1               OK              Rename to ReduceSum
Mean                                     1               OK              Rename to ReduceMean
Max                                      1               OK              Rename to ReduceMax
Min                                      1               OK              Rename to ReduceMin
Prod                                     1               OK              Rename to ReduceProd
ReduceSum                                1               NG
ReduceMean                               1               NG
======================================== =============== =============== =================================================

Arithmetic
++++++++++

Count 10/12

======================================== =============== =============== =================================================
Operator                                 Opset           Status          Description
======================================== =============== =============== =================================================
Add2                                     1               NG
BcAdd2                                   1               NG
Sub2                                     1               OK              Rename to Sub
Mul2                                     1               OK              Rename to Mul
Div2                                     1               OK              Rename to Div
Pow2                                     1               OK              Rename to Pow
AddScalar                                1               OK              Convert to Add
MulScalar                                1               OK              Convert to Mul
PowScalar                                1               OK              Convert to Pow
RSubScalar                               1               OK              Convert to Sub
RDivScalar                               1               OK              Convert to Div
RPowScalar                               1               OK              Convert to Pow
======================================== =============== =============== =================================================

Logical
+++++++

Count 12/24

======================================== =============== =============== =================================================
Operator                                 Opset           Status          Description
======================================== =============== =============== =================================================
Sign                                     1               OK
Minimum2                                 1               OK              Rename to Min
Maximum2                                 1               OK              Rename to Max
MinimumScalar                            1               OK              Convert to Clip
MaximumScalar                            1               OK              Convert to Clip
LogicalAnd                               1               OK              Rename to And
LogicalOr                                1               OK              Rename to Or
LogicalXor                               1               OK              Rename to Xor
Equal                                    1               OK
NotEqual                                 1               NG
GreaterEqual                             1               NG
Greater                                  1               OK
LessEqual                                1               NG
Less                                     1               OK
LogicalAndScalar                         1               NG
LogicalOrScalar                          1               NG
LogicalXorScalar                         1               NG
EqualScalar                              1               NG
NotEqualScalar                           1               NG
GreaterEqualScalar                       1               NG
GreaterScalar                            1               NG
LessEqualScalar                          1               NG
LessScalar                               1               NG
LogicalNot                               1               OK              Rename to Not
======================================== =============== =============== =================================================

Math
++++

Count 5/18

======================================== =============== =============== =================================================
Operator                                 Opset           Status          Description
======================================== =============== =============== =================================================
Constant                                 1               NG
Abs                                      1               OK
Exp                                      1               OK
Log                                      1               OK
Identity                                 1               OK
BatchMatmul                              1               OK              Rename to MatMul
Round                                    1               NG
Sin                                      1               NG
Cos                                      1               NG
Tan                                      1               NG
Sinh                                     1               NG
Cosh                                     1               NG
ASin                                     1               NG
ACos                                     1               NG
ATan                                     1               NG
ASinh                                    1               NG
ACosh                                    1               NG
ATanh                                    1               NG
======================================== =============== =============== =================================================

Array Manipulation
++++++++++++++++++

Count 9/13

======================================== =============== =============== =================================================
Operator                                 Opset           Status          Description
======================================== =============== =============== =================================================
Concatenate                              1               OK              Convert to Concat and Squeeze
Split                                    1               OK
Stack                                    1               OK              Convert to Unsqueeze
Slice                                    1               OK
Pad                                      1               OK
Transpose                                1               OK
Broadcast                                1               NG
OneHot                                   1               OK              Convert to Flatten, Gather and Reshape
Flip                                     1               OK              Convert to Transpose and Gather
Shift                                    1               NG
Reshape                                  1               OK
MatrixDiag                               1               NG
MatrixDiagPart                           1               NG
======================================== =============== =============== =================================================

Stochasticity
+++++++++++++

Count 1/10

======================================== =============== =============== =================================================
Operator                                 Opset           Status          Description
======================================== =============== =============== =================================================
Dropout                                  1               OK
TopKData                                 1               NG
TopKGrad                                 1               NG
Rand                                     1               NG
Randint                                  1               NG
Randn                                    1               NG
RandomCrop                               1               NG
RandomFlip                               1               NG
RandomShift                              1               NG
ImageAugmentation                        1               NG
======================================== =============== =============== =================================================

Loss Functions
++++++++++++++

Count 0/9

======================================== =============== =============== =================================================
Operator                                 Opset           Status          Description
======================================== =============== =============== =================================================
SigmoidCrossEntropy                      1               NG
BinaryCrossEntropy                       1               NG
SoftmaxCrossEntropy                      1               NG
CategoricalCrossEntropy                  1               NG
SquaredError                             1               NG
AbsoluteError                            1               NG
HuberLoss                                1               NG
EpsilonInsensitiveLoss                   1               NG
KLMultinomial                            1               NG
======================================== =============== =============== =================================================

Quantization Neural Network Layers
++++++++++++++++++++++++++++++++++

Count 0/10

======================================== =============== =============== =================================================
Operator                                 Opset           Status          Description
======================================== =============== =============== =================================================
BinarySigmoid                            1               NG
BinaryTanh                               1               NG
BinaryConnectAffine                      1               NG
BinaryConnectConvolution                 1               NG
BinaryWeightAffine                       1               NG
BinaryWeightConvolution                  1               NG
INQAffine                                1               NG
INQConvolution                           1               NG
FixedPointQuantize                       1               NG
Pow2Quantize                             1               NG
======================================== =============== =============== =================================================

Validation
++++++++++

Count 0/3

======================================== =============== =============== =================================================
Operator                                 Opset           Status          Description
======================================== =============== =============== =================================================
TopNError                                1               NG
BinaryError                              1               NG
ConfusionMatrix                          1               NG
======================================== =============== =============== =================================================

Unsupported,SpecialUse
++++++++++++++++++++++

Count 0/4

======================================== =============== =============== =================================================
Operator                                 Opset           Status          Description
======================================== =============== =============== =================================================
VATNoise                                 1               NG
Unlink                                   1               NG
Sink                                     1               NG
NmsDetection2d                           1               NG
======================================== =============== =============== =================================================
