ONNX Support Status Document
============================

:Note: In this document, the numbers in the header of all tables represent the version of onnx opset.

Import
------

- ${IMPORT_SUPPORTED_SYMBOL}: onnx specification defined, and supported.
- ${IMPORT_DEFINED_SYMBOL}: onnx specification defined, but not support yet.
- Empty: Not defined (Support status follows latest).

:ONNX Version Info:
  - Version: 1.4.1
  - Commit id: 3b0ecd5

Total: ${import_supported_num}/${import_total_num}

${import_table}

Export
------

- ${EXPORT_SUPPORTED_SYMBOL}: Support to export this opset.
- ${PART_EXPORT_SUPPORTED_SYMBOL}: Partially support to export this opset (e.g. some cases cannot be supported, or not completely tested).
- Empty: Not support corresponding opset version.

:NNabla Version Info:
  - Version: 1.0.15.dev1
  - Commit id: 8a603de

Total: ${export_supported_num}/${export_total_num}

${export_table}
